$theme-dark: #201E1D;
$theme-light: #FDE9CC;

@font-face {
  font-family: 'Italiana';
  src: url('./fonts/Italiana-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('./fonts/UnifrakturMaguntia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --- CSS Reset --- */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

button {
font-family: inherit;
font-size: 100%;
}

/* --- Custom CSS --- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  background-color: $theme-dark;
  padding: 20px 50px;
}

body, button {
  color: $theme-light;
}

/* --- Header --- */

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2.5rem;
  }
  ul {
    list-style-type: none;
    justify-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    button {
      font-size: 0.8rem;
      white-space: nowrap;
      border: none;
      background-color: transparent;
      padding: 5px 2px;
      cursor: pointer;

      transition: all 0.2s;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
}

/* --- About__Hero --- */

.hero {
  height: 100vh;
  display: grid;
  align-items: center;
  h1 {
    font-family: 'Italiana', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: clamp(1rem, calc(1rem + 24vw), 35rem);
    line-height: clamp(1rem, calc(1rem + 20vw), 35rem);
    text-align: left;
    // font-size: 35rem;
  }
  h2 {
    font-size: clamp(1rem, calc(0.1rem + 5vw), 3rem);
    text-align: left;
  }
  .vertical-line {
    border-left: 1px solid $theme-light;
    height: 150px;
    margin: 50px 0px 0px 50px;
  }
}

/* --- About__Cuisine--- */

.cuisine {
  display: grid;
  grid-template: min-content 80px 1fr 100px 100px 100px / 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 10px;
  h3 {
    font-family: 'Italiana', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: clamp(1rem, calc(1rem + 13vw), 10rem);
    z-index: 1;

    grid-column: 1 / span 4;
    grid-row: 1;
  }
  h4 {
    font-size: 1rem;

    grid-column: 1 / span 2;
    grid-row: 2;
  }
  div {
    height: 80px;
    width: 80px;
    border: 2px solid $theme-light;
    border-radius: 50px;

    display: grid;
    justify-self: center;
    align-content: center;
    grid-column: 3;
    grid-row: 2;
    
    transition: transform 0.3s;
    &:hover {
      transform: scale(110%);
    }
    button {
      font-size: 0.8rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  h5 {
    width: 1px;
    font-size: 2rem;

    grid-column: 2;
    grid-row: 3;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
  .image-1 {
    grid-column: 1;
    grid-row: 3 / span 3;
  }
  .image-2 {
    grid-column: 2;
    grid-row: 4 / span 3;
  }
  .image-3 {
    grid-column: 3;
    grid-row: 3 / span 4;
  }
  .image-4 {
    grid-column: 4;
    grid-row: 1 / span 6;
  }
}

/* --- Footer --- */

footer {
  height: 170px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .horizontal-line {
    margin: 80px 0px 10px 10px;
    width: 60%;
    border-bottom: 1px solid $theme-light;
  }
  button {
    background-color: transparent;
    border: none;
    width: max-content;
    padding: 8px 20px;
    text-align: left;
    cursor: pointer;

    transition: 0.3s;
    &:hover {
      transform: translateX(10px);
    }
  }
}

/* --- Menu --- */

.menu {
  position: relative;
  margin-top: 50px;

  h2 {
    color: rgb(39, 35, 32);
    font-size: 20rem;
    line-height: 20rem;
    font-weight: bold;
    width: 0px;
    position: absolute;
    right: calc(0px + 20rem);
    z-index: -1;
  }
  h3 {
    font-size: 1.8rem;
    color: $theme-dark;
    background-color: $theme-light;
    width: max(400px, 40%);
    height: 40px;
    padding-right: 20px;
    text-align: right;

    display: grid;
    align-items: center;
  }
  dl {
    margin: 40px 15px;
    dt {
      font-size: 1.4rem;
    }
    dd {
      font-size: 0.8rem;
      font-style: italic;
      margin-bottom: 40px;
    }
  }
}

/* --- Contact --- */

.contact {
  display: grid;
  grid-template-rows: 0fr 1fr;
  margin: 0px -50px -20px -50px;
  .form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    >div {
      margin: 100px 0px;
      width: min(500px, 100%);
      &:first-child {
        justify-self: end;
        h3 {
          font-family: 'Italiana', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-size: clamp(2.5rem, calc(2.5rem + 1vw), 5rem);      
        }
        p {
          font-size: 0.9rem;
          margin: 10px 0px;
          width: 85%;
        }
      }
      &:last-child {
        justify-self: start;
        form {
          display: grid;
          input {
            color: $theme-light;
            font-size: 1.1rem;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $theme-light;
            padding: 10px 15px;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: $theme-light;
            }
            &[type="email"] {
              width: 100%;
            }
            &[type="date"] {
              &::-webkit-calendar-picker-indicator {
                filter: invert(1);
              }
            }
          }
          .container-input {
            display: grid;
            gap: 25px;
            grid-template-columns: 1fr 1.75fr;
          }
          .container-button-submit {
            width: max-content;
            padding: 20px;

            display: flex;
            justify-self: end;
            align-items: center;

            transition: 0.3s;
            &:hover {
              transform: translateX(20px)
            }
            button {
              background-color: transparent;
              border: none;
              justify-self: end;
              cursor: pointer;
            }
            .arrow {
              height: 1.2rem;
              width: 1.2rem;
              filter: invert(88%) sepia(27%) saturate(368%) hue-rotate(328deg) brightness(105%) contrast(98%);
            }
          }
        }
      }
    }
  }
  .details {
    color: $theme-dark;
    background-color: $theme-light;
    padding: 50px;
    h4 {
      font-family: 'UnifrakturMaguntia', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: clamp(2rem, calc(2rem + 1.5vw), 4rem);   
      white-space: nowrap;
    }
    .contact-line {
      border-bottom: 1px solid $theme-dark;
      margin: 20px 0px;
    }
    .container-details {
      font-size: 0.9rem;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: end;
      gap: 30px;
      .contact-details {
        p {
          margin-top: 20px;
        }
      }
      .contact-schedule {
        div {
          margin-top: 20px;
        }
      }
      div:last-child {
        h5 {
          font-size: 2.5rem;
        }
      }


    }
  }
}

/* --- Breakpoints --- */
@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    div {
      .contact {
        .form {
          margin-top: 50px;
          grid-template-columns: none;
          grid-template-rows: 1fr 1fr;
          gap: 0px;
          >div {
            margin: 0px;
            padding: 40px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    div {
      .contact {
        .form {
          margin-top: 50px;
          grid-template-columns: none;
          grid-template-rows: 1fr 1fr;
          gap: 0px;
          >div {
            margin: 0px;
            padding: 40px;
          }
        }
      }
    }
  }
 }
 
@media all and (max-width: 480px) {
  body {
    padding: 20px 10px;
    header {
      grid-template-columns: 1fr;
      h1 {
        display: none;
      }
    }
    div {
      .hero {
        height: 60vh;
      }
      .cuisine {
        grid-template: min-content 80px 1fr 100px 100px 100px / 1fr 1fr 1fr;
        column-gap: 0px;
        h4 {
          font-size: 0.9rem;
        }
        h5 {
          padding: 0px 10px;
          font-size: 0.9rem;
        }
        img {
          padding: 0px 10px;
        }
        .image-4 {
          display: none;
        }
      }
      .menu {
        h2 {
          font-size: 10rem;
        }
        h3{
          font-size: 1.5rem;
          width: 100%;
        }
        dl {
          dt {
            font-size: 1.2rem;
          }
        }
      }
      .contact {
        margin: 0px -10px -20px -10px;
        .form {
          margin-top: 50px;
          grid-template-columns: none;
          grid-template-rows: 1fr 1fr;
          gap: 0px;
          >div {
            margin: 0px;
            padding: 20px;
          }
        }
        .details {
          .container-details {
            grid-template-columns: none;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            .contact-details {
              p {
                margin-top: 10px;
              }
            }
            .contact-schedule {
              div {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
};